.App {
  height: 100vh;
  text-align: center;
  background-color: #f3f3f3;
}

.Navbar {
  background-color: #3c99c5;
}

.text-white {
  text-decoration: none;
}

.navBarButton:hover {
  transition: 1.5s;
  background-color: #2e7799;
}

.ultrawebName {
  color: #3c99c5;
}

.boton {
  margin: 45px;
}

.closeButton{
  position: absolute;
  left: 95%;
}

.conocenos {
  height: 90vh;
}

.contenedor {
  padding-top: 20vh;
}

.recuadro{
  background-color: #3c99c5;
  color: white;
}

.fotoPerfil {
  border-radius: 1%;
  width: 100%;
  height: 80vh;
}

.fotoPerfil:hover {
  transition: 0.5s;
}

.parrafo {
  width: 250px;
  font-size: 15px;
  position: relative;
  left: 15%;
}

.contactanos {
  margin-top: 2vh;
  height: 100px;
}

.contactForm {
  background-color: white;
}

.textarea {
  resize: none;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 100vh;
    margin-top: 20vh;
  }

  .closeButton{
    position: absolute;
    left: 90%;
  }

  .parrafo {
    width: 285px;
    font-size: 20px;
    position: relative;
    left: 15%;
  }

  .boton:nth-child(1) {
    margin-bottom: 50vh;
  }

  .boton:nth-child(2) {
    margin-bottom: 50vh;
  }

  .boton:nth-child(3) {
    margin-bottom: 40vh;
  }

  .contactanos {
    margin-top: 8vh;
  }
}

@media only screen and (min-width: 1500px) {
  .bubbles {
    margin-top: 15vh;
  }

  .parrafo {
    width: 250px;
    font-size: 18px;
    position: relative;
    left: 14%;
  }

  .conocenos {
    height: 93vh;
  }

  .contactanos {
    margin-top: 8vh;
  }
}
